@CHARSET "UTF-8";
 .file-box{
  position:relative;
  width:340px;
  } 
 .txt1{
 height:31px; 
 border:1px solid #cdcdcd;
 width:180px;
 } 
 .btn1
 {background-color:#FFF;
  border:1px solid #CDCDCD;
  height:33px;
   width:70px;
   } 
 .file1{
  position:absolute;
   top:0; right:80px;
    height:33px;
    filter:alpha(opacity:0);
    opacity: 0;
    width:260px;
     } 